<div id="field-form_master_internalLink-content" class="field-content field-content-textField">
  <label>{{ "fields.internalLink.entitled"|trans({}, form.mapper.translateDomain) }}</label>
  <div class="field field-typeValue">#INTERNAL_LINK_{{ form.mapper.object.classname }}_{{ form.mapper.object.id }}#</div>
</div>